$blackColor: #333;

body{
  position: relative;
  min-height: 100vh;
  margin-bottom: 100px;
}

.text-justify{
  text-align: justify;
}

.work-list {
  list-style-type: '- ';
}

.contact-link{
  text-decoration: none;
  color: $blackColor;
}

p,
table,
.work-list{
  font-size: 1.2rem;
}

.main-logo {
  background: url("../images/logo.png") no-repeat center center;
  width: 100%;
  padding-top: 14%;
  background-size: contain;
  margin: 1em 0;
}